.app,
[data-theme="light"] {
    --primaryColor: #fcfcfc;
    --secondaryColor: #3f3f3f;
}

[data-theme="dark"] {
    --primaryColor: #3f3f3f;
    --secondaryColor: #fcfcfc;
}

@media (prefers-color-scheme: dark) {
    .app,
    [data-theme="auto"] {
        --primaryColor: #3f3f3f;
        --secondaryColor: #fcfcfc;
    }
}

$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);