@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("@/font/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("@/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("@/font/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("@/font/Poppins-Bold.ttf");
}

@font-face {
    font-family: "NotoSansTC";
    font-weight: 300;
    src: url("@/font/NotoSansTC-Light.ttf");
}

@font-face {
    font-family: "NotoSansTC";
    font-weight: 400;
    src: url("@/font/NotoSansTC-Regular.ttf");
}

@font-face {
    font-family: "NotoSansTC";
    font-weight: 500;
    src: url("@/font/NotoSansTC-Medium.ttf");
}

@font-face {
    font-family: "NotoSansTC";
    font-weight: 700;
    src: url("@/font/NotoSansTC-Bold.ttf");
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar:hover {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #999999;
}

::-webkit-scrollbar-thumb {
    background-color: #183689;
    border-radius: 100px;
}

::placeholder {
    color: transparent;
}

:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "NotoSansTC", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;

    &:is(:link, :visited, :active) {
        color: $secondaryColor;
    }
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.btn {
    font-size: 1.1rem;
    font-weight: 700;
    color: $secondaryColor;
    background-color: transparent;
    border: 1px solid $secondaryColor;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: $primaryColor;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $fourthColor;
        z-index: -1;
        transition: width 0.2s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }

    &.circle {
        width: 2.5rem;
        aspect-ratio: 1;
        border-radius: 50%;

        &::after {
            border-radius: 50%;
        }
    }

    &.rect {
        padding: 1rem;
    }

    &:disabled {
        color: $primaryColor;
        cursor: not-allowed;

        &::after {
            width: 100%;
        }
    }
}

.text-center {
    text-align: center;
}

.container {
    padding: 10vh 20vw;
    min-height: 100vh;
}

@media (max-width: 1399.98px) {
    .container {
        padding: 10vh 10vw;
    }
}

@media (max-width: 767.98px) {
    .container {
        padding: 3.5rem;
        min-height: auto;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding: 2rem;
    }
}