@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: url("@/font/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("@/font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("@/font/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("@/font/Poppins-Bold.ttf");
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar:hover {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #999999;
}

::-webkit-scrollbar-thumb {
    background-color: #183689;
    border-radius: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;

    &:is(:link, :visited, :active) {
        color: $secondaryColor;
    }
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    padding-inline: 20vw;
    min-height: 100vh;
}

@media (max-width: 1399.98px) {
    .container {
        padding-inline: 10vw;
    }
}

@media (max-width: 767.98px) {
    .container {
        padding: 3.5rem;
        min-height: auto;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding: 2rem;
    }
}