.app,
[data-theme="auto"],
[data-theme="light"] {
    --primaryColor: #cdcdcd;
    --primaryColor-7: rgba(237, 237, 237, 0.7);
    --secondaryColor: #1a1a30;
    --thirdColor: #999999;
    --thirdColor-7: rgba(153, 153, 153, 0.7);
    --fourthColor: #46467c;
    --fifthColor:#c4c4c4;
}

[data-theme="dark"] {
    --primaryColor: #1a1a30;
    --primaryColor-7: rgba(26, 26, 48, 0.7);
    --secondaryColor: #cdcdcd;
    --thirdColor: #2c2f54;
    --thirdColor-7: rgba(44, 47, 84, 0.7);
    --fourthColor: #848484;
    --fifthColor:#17172a;
}

@media (prefers-color-scheme: dark) {
    [data-theme="auto"] {
        --primaryColor: #1a1a30;
        --primaryColor-7: rgba(26, 26, 48, 0.7);
        --secondaryColor: #cdcdcd;
        --thirdColor: #2c2f54;
        --thirdColor-7: rgba(44, 47, 84, 0.7);
        --fourthColor: #848484;
        --fifthColor:#17172a;
    }
}

$primaryColor: var(--primaryColor);
$primaryColor-7: var(--primaryColor-7);
$secondaryColor: var(--secondaryColor);
$thirdColor: var(--thirdColor);
$thirdColor-7: var(--thirdColor-7);
$fourthColor: var(--fourthColor);
$fifthColor: var(--fifthColor);
$rule: calc(100vh + 100vw);